/*=============================================================================
 * Responsive Grid
 *===========================================================================*/
.grid-1  { width: 9.48275862069%; }   /* 110px */
.grid-2  { width: 22.413793103448%; } /* 260px */
.grid-3  { width: 35.344827586207%; } /* 410px */
.grid-4  { width: 48.275862068966%; } /* 560px */
.grid-5  { width: 61.206896551724%; } /* 710px */
.grid-6  { width: 74.137931034483%; } /* 860px */
.grid-7  { width: 87.068965517241%; } /* 1010px */
.grid-8  { width: 100%; }             /* 1160px */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8 { margin: 0 3.44% 1% 0; }
.grid-container { width: 90%; }
/*****************************************************************************/
