html { height: 100%; width: 100%; }

body {
  background-color: $white;
  color: darken($silver, 15%);
  font-family: Arial, sans-serif;
  font-size: 100%;
  height: 100%;
  line-height: 1.4em;
  overflow-x: hidden;
  width: 100%;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: $silver;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 960px;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: $red;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: $red;
    text-decoration: none;
  }

  .site .title a:hover {
    color: $black;
  }

  .site .title a.extra {
    color: $silver;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: $black;
  }

  .site .meta {
    color: $silver;
  }

  .site .footer {
    font-size: 80%;
    color: $silver;
    border-top: 4px solid $silver;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: lighten($blue, 20%);
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/* Posts
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid $silver;
    background-color: lighten($silver, 20%);
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid $silver;
    background-color: lighten($silver, 20%);
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid $black;
    background-color: darken($silver, 20%);
    color: $white;
  }

  #post pre.terminal code {
    background-color: darken($silver, 20%);
  }


/*****************************************************************************/
/* 
/*****************************************************************************/
#wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 50px;
}
